<fieldset>
  <legend class="small">Date Search</legend>
  <div class="control-group">
    <div class="input-group">
            <span class="input-group-addon">
              <input type="radio"> <span class="label label-info">Start Date </span>
            </span>
      <input type="text" class="form-control" placeholder="start date">
    </div>
    <span class="label label-warning">thru </span>
    <div class="input-group">
            <span class="input-group-addon">
              <input type="radio"> <span class="label label-info">End Date </span>
            </span>
      <input type="text" class="form-control" placeholder="end date">
    </div>
  </div>
</fieldset>