<div class="modal-div pull-right">
  <!-- Button to trigger modal -->
  <a href="#myModal" role="button" class="btn btn-info" data-toggle="modal">What's this <i class="icon-question-sign icon-large"></i></a>
</div>
<!-- Modal -->
<div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
    <h2 id="myModalLabel">Permissions</h2>
  </div>
  <div class="modal-body">
    <h3>Visibility</h3>
    <p>
      This setting will determine who can view your file and the associated metadata
    <p> Setting the visibility to <br> <span class="label label-success">Global Access</span> Global Access means the information is approved to be made available with no restriction at no cost (or at a cost commensurate with maintaining the sustainability of the VecNet) to the broad scientific community and to persons and entities in the public and private sectors that have an objective to develop affordable health solutions for the benefit of people most in need with the developing world.
      <br>All data sets submitted to VecNet are encouraged to be delivered as global access unless they contain information designated as sensitive, private, or confidential as defined by the VecNet Data Classification Policy or information that is exempt pursuant to any other provision of a federal or state law, rule or regulation or local law.
    </p>
    The visibility setting <span class="label label-info">Local Access</span> will only allow users who are logged into the site
    to view the content.  Files that are marked <span class="label label-important">Private</span> are only able to be viewed
    by users and/or groups that have been given specific access in the &quot;Share With&quot; section.
    </p>

    <p>
      Permissions are hierarchical.  This means that you cannot set the visibility of a file to <span class="label label-success">Global Access</span> or
      <span class="label label-info">Local Access</span> and simultaneously try to restrict the access of a single user. However, you may mark the visibility of
      a file as <span class="label label-important">Private</span> and then grant access to particular users and/or groups for that file in the &quot;Share With&quot;
      section.
    </p>

    <h3>Share With</h3>
    <p>You may grant &quot;View/Download&quot; or &quot;Edit&quot;  access for specific users and/or groups to files. Enter
      a valid Account Id, one at a time, select the access level for that user and click
      <button class="btn btn-mini btn-inverse" onclick="return false;"><i class="icon-plus-sign" ></i>Add</button>.
    </p>

    <p>
      The list of groups are managed by the administrators.  You may select a specific group and assign an access
      level for a file, similarly to adding user access levels.</p>

    <h3>Permission Definitions</h3>
    <p>
      <strong>View/Download:</strong> this file (both contents and metadata) is accessible from within the application.<br />
      <strong>Edit:</strong> this file (both contents and metadata) can be edited.  You may only grant this permission to registered users and/or groups.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
