<% unless check_version?(curation_concern) -%>
    <span class="label label-important">Requested version of this file is out of date.</span> Displaying information for latest version instead.
<% end -%>
