<% unless check_version?(curation_concern)  %>
    <span class="label label-important">Requested Version of this file is out of date.</span> Displaying information of latest version instead.
<% end %>
