 <div class="span9">
  <div class="btn-group" data-toggle="buttons-checkbox">
    <a class="advanced btn" data-toggle="collapse" href="#advanced-search-form"><i class="icon-search icon-white"></i>
      Show/Hide Advanced Search</a>
  </div>
  <div id="advanced-search-form" class="collapse">
    <%=render 'advanced/advanced_search_form' %>
  </div>
 </div>
