<div class="span8">
  <div id="simple-search-form" class="expand">
    <%=render 'shared/site_search' %>
  </div>
  <div class="btn-group" data-toggle="buttons-checkbox">
    <a class="advanced btn btn-primary" data-toggle="collapse" href="#advanced-search-form"><i class="icon-search icon-white"></i>
      Advanced Search</a>
  </div>
  <div id="advanced-search-form" class="collapse">
    <%=render 'advanced/advanced_search_form' %>
  </div>
</div>