<form class="filterform" action="#">
  <input class="filterinput autocomplete" type="text">
</form>
<ul class="facet-hierarchy">
 <% facet_field = facet_configuration_for_field(params[:id]) %>
 <%# facet_field %>
  <%# render_facet_partials %>
 <%= render_hierarchy(facet_field) %>
</ul>