<% content_for :main_column_class, 'span8 offset2' %>
<% content_for :page_header do %>

<h2><%= I18n.t('sufia.product_name') %> Data Deposit Agreement</h2>

<% end %>

<%= form_tag terms_of_service_agreements_path, method: :post, id: "terms_of_service" do %>

<article class="terms-of-service">
  <p>
  I understand that by contributing data to VecNet I retain all rights, title and interest vested in me at the time the data contribution was made.</p>

  <p>I hereby represent and warrant that I have the right to contribute the data to VecNet and that the data contribution does not knowingly infringe any third-party right or constitute a breach of confidentiality.</p>

  <p>I understand that I can specify the licensing option for my data when uploading data to VecNet, and that this affects how my data will then be utilised.
  I give my permission for the data to be used by VecNet for the following purposes, as limited by the license option I choose when uploading data:
<ul>
  <li>To disseminate copies of the data in a variety of media formats</li>
  <li>To promote and advertise the data in any publicity (in any form) for VecNet</li>
  <li>To describe, catalog, validate and document the data</li>
  <li>To store, translate, copy or re-format the data in any way to ensure its future preservation and accessibility</li>
  <li>To incorporate metadata or documentation in the data into public access catalogues</li>
</ul>
</p>
<p>I give my permission to VecNet to store, enhance, rearrange, copy or re-format the data, including the data and metadata, for any of the following purposes:
<ul>
  <li>Protect respondent confidentiality</li>
  <li>Improve usability</li>
  <li>Ensure its future preservation</li>
  <li>Ensure accessibility</li>
</ul>
  </p>
</article>

<div class="form-actions centered">
  <%= submit_tag controller.i_agree_text, :class=> 'btn btn-primary' %> <%= submit_tag controller.i_do_not_agree_text, :class=> 'btn btn-link'  %>
</div>
<% end %>
