@import 'compass';
@import 'global-variables';
.navbar {
  background-color: #1B1B1B;
  background-image: linear-gradient(center top , #222222, #111111);
  background-repeat: repeat-x;

  .nav-inner {
    border-color: #252525;
  }

  .brand{
    background-image: none;
    float: left;
    display: inline-block;
    margin-left: -20px;
    padding: 10px 20px 10px;
    white-space: nowrap;
    width: 150px;
    text-indent:0;
  }
  ul li {

    a{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 14px;
      line-height: 20px;
      padding: 10px 15px;
      .caret {
        border-top-color: #777 !important;
        border-bottom-color: #777 !important;
      }
    }
    .btn{
      @include background(linear-gradient(bottom, rgb(51, 51, 51), rgb(28, 28, 28)));
      background-color: rgb(0, 0, 0);
      border-color: rgb(0, 0, 0);
      color: rgb(151, 151, 151);
      text-shadow: 0px 1px 1px rgba(0, 0, 0, 1.0);
      padding: 10px 10px;
      line-height: 0px;
    }

  }
}

jumbotron:after {
  background: url(bs-docs-masthead-pattern.png) repeat scroll center center transparent;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  opacity: 0.4;
  position: absolute;
  top: 20;
  right: 0;
}
.subhead {
  border-bottom: 1px solid #DDDDDD;
  text-align: left;
}
.jumbotron {
  @include background(linear-gradient(top, rgb(1,72,95), rgb(0,147,173)));
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2) inset, 0 -3px 7px rgba(0, 0, 0, 0.2) inset;
  color: #FFFFFF;
  margin-bottom: 20px;
  padding: 15px 0;
  position: relative;
  top:40px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);

  h1 {
      font-size: 60px;
      line-height: 50px;
      font-weight: 700;
      margin: 10px 0;
      letter-spacing: -1px;
      lcolor: #E5E5E5;
  }

  p{
    color: #E5E5E5;
    .lead{
        font-size: 30px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 20px;
    }
  }
}
#main {
  padding-top: 2em
}
.flash-message {
  padding-top: 2em
}

.uppercase{
  text-transform: uppercase;
}
.spatial_value {
  .field-wrapper {
    list-style-type:none;
  }

  .listing {
    margin-left:0;
  }

  .field-controls span {
    margin-left:.2em;
  }
}

.with-thumbnail {
  margin: 20px 20px 0 0;
}

.thumbnail-container {
  float: left;
  padding: .5em .5em 0;
  text-align: center;
  width: 100px;
}

.thumbnail-content {
  margin-left: 110px;
}

.list {
  overflow: auto;
  padding: 0.5em 0 0;
  clear: none;
  dt{
    float: left;
    text-align: right;
    width: 20%;
    clear: both;
    color: #888;
    margin: 0;
    padding: 2px 1em 2px 0px;

  }
  dd{
    text-align: left;
    margin: 0;
    padding: 2px 0;
    width: 70%;
    float: left;
  }
}

.page-breadcrumbs {
  padding-bottom:20px;
  a,
  a:hover,
  a:visited {
    color: rgb(153, 153, 153);
  }

}

#search-results{
  h2{
    font-size: 24px;
    padding-bottom:10px;
    border-bottom:1px solid $dropdownDividerTop;
  }
}

#facets {
  li {
    margin-right: 0;
    padding-right: 0;
    .count {
      margin-right: 0;
    }
    &.more_facets_link {
      margin-right: 0;
    }
  }
}

