<% content_for :page_title, curation_concern_page_title(curation_concern) %>
<% content_for :page_header do %>
  <h1>File Details</h1>
<% end %>

<%= render "attributes", curation_concern: curation_concern %>

<% unless curation_concern.related_files.empty? %>
  <%= render "related_files", curation_concern: curation_concern %>
<% end %>

<% if can? :edit, curation_concern %>
  <div class="form-actions">
    <%= link_to "Edit This File", edit_polymorphic_path([:curation_concern, curation_concern]), class: 'btn btn-primary'  %>
    <%= link_to "Add file to this collection", new_curation_concern_generic_file_path(curation_concern.batch.id), class: 'btn btn-primary' %>
  </div>
<% end %>
