\<footer id="footer" class=" footer container">
  <div class="row">
    <div class="span12">
      <p style="text-align: center"> <a href="https://vecnet.org/index.php/contact-vecnet">Contact us</a> | FAQ | Privacy Policy | <a href="https://vecnet.org/index.php/about-us">Terms of Use</a></p>
      <p style="text-align: center"> Copyright (C) 2013 Vector Ecology and Control Network (VECNet) </p>
      <p style="text-align: center"> Supported by Bill and Melinda Gates Foundation </p>
      <p>
        Powered by <a href="https://github.com/curationexperts/sufia">Sufia</a>, a <a href="http://projecthydra.org">Hydra</a> project.
      </p>
      <p>
        Build: <%= Rails.configuration.build_identifier %>
      </p>
    </div>
  </div>
</footer>
