#brand-bar-wrapper {
  background-color:$blueDark;
  @include background-image(linear-gradient($blueDark, #07366C 85%, #001834));
  border-bottom:1px solid #001834;

  h2 a, h3 a {
    color:#FFF;
  }

  .division {
    float:right;
  }
}

#title-bar-wrapper {
  background-color:$yellow;
  @include background-image(linear-gradient(#F5E59E, $yellow 98%, #9C7012));
  border-top:1px solid #FFF;
  margin-bottom:.3em;

  h1 {
    color:$grayDarkest;
    @include text-shadow(#FFF 0 0 1px);

  }

  a:visited {
    color:$teal;
  }

  .site-search {
    float:right;
  }
}

#main {
  h1,h2,h3,h4,h5,h6 {
    color:$grayDarkest;
  }
}

#footer {
  color:#999;
}

/* Footer - ked */
.footer {
  text-align: center;
  color: #666;
  margin-top: 100px;


  a:link,
  a:visited
  {
    color: #666;
  }

  a:hover,
  a:active,
  a:focus  {
    color: #333;
    text-decoration: none;
  }
  .fine-print {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }
}

